.botao{/*comtrolhe do botão */
    order: 20;
    padding:20px 4px;
       background-color: #e6d6d6;
        border-radius: 10px;
             border: 10px;
        animation: 300ms ease-in-out;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
   font-size: 20px;
   color: aliceblue;
}
   
.botao:hover{/*Animaçao do botão*/
    transform: scale(1.05);
        transition-delay: 10;
          margin-bottom: 5px;
           background-color: rgb(155, 157, 163);
        color: black;
   shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}